<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link " routerLink="dataBinding">Binding</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" routerLink="emp">emp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="user">user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->


<a routerLink="emp">Employee Page </a>|
<a routerLink="user"> User Page </a>|
<a routerLink="createUser"> Create User Page</a>|
<a routerLink="dataBinding">Data Binding</a>|
<a routerLink="Calculator">Calculator</a>|
<a routerLink="CreateStudent">Create Student</a>|
<a routerLink="ngIf">ng if</a>|
<a routerLink="ngFor"> ng For</a>|
<a routerLink="ngclass"> ng class</a>|
<a routerLink="ngStyle"> ng Style</a>|
<a routerLink="pipes">Pipes</a>|
<a routerLink="userForm">User Form</a>|
<a routerLink="createProduct">product</a>|
<a routerLink="productList">List</a>|
<a routerLink="employeeList">Emp List</a>|
<a routerLink="template">Template</a>|
<a routerLink="api-get">Api-Get</a>|
<a routerLink="api-get-1">Api-Get-1</a>|
<a routerLink="course">Course-Api</a>|
<a routerLink="candidate">PutApi</a>|
<a routerLink="client">client</a>|
<a routerLink="json">Json</a>|
<a routerLink="reactiveForm">Reactive Form</a>|
<a routerLink="lifecycleHook">Life Cycle Hook </a>|
<a routerLink="filter">Filter</a>|
<a routerLink="reuseTable">Reuse Table</a>|
<a routerLink="reactive">Reactive Form</a>|
<a routerLink="Test">Test</a>|

<router-outlet></router-outlet>
