
<!-- <a routerLink="emp">Employee Page </a>|
<a routerLink="user"> User Page </a>|
<a routerLink="createUser"> Create User Page</a>|
<a routerLink="dataBinding">Data Binding</a>|
<a routerLink="Calculator">Calculator</a>|
<a routerLink="CreateStudent">Create Student</a>|
<a routerLink="ngIf">ng if</a>|
<a routerLink="ngFor"> ng For</a>|
<a routerLink="ngclass"> ng class</a>|
<a routerLink="ngStyle"> ng Style</a>|
<a routerLink="pipes">Pipes</a>|
<a routerLink="userForm">User Form</a>|
<a routerLink="createProduct">product</a>|
<a routerLink="productList">List</a>|
<a routerLink="employeeList">Emp List</a>|
<a routerLink="template">Template</a>|
<a routerLink="api-get">Api-Get</a>|
<a routerLink="api-get-1">Api-Get-1</a>|
<a routerLink="course">Course-Api</a>|
<a routerLink="candidate">PutApi</a>|
<a routerLink="client">client</a>|
<a routerLink="json">Json</a>| -->

<router-outlet> </router-outlet>
